.wrapper {
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background: teal
}

.logo {
    display: flex;

}

.tabContainer {
    display: flex;
    flex-direction: row;
}

.tabs {
    display: flex;
    flex-direction: row;
}

.font {
    color: white;
}

